@model IEnumerable<CarImpoundSystem.Models.ImpoundmentRecord>

@{
    ViewData["Title"] = "ViewImpounds";
}

<h1>View Impounds</h1>

<p>
    <a asp-action="AddImpound">Create New Impound</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LicensePlate)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>



            <td>
                  
               <a asp-action="EditImpound" asp-route-id="@item.recordId">Process Impound</a>
                    
                <a asp-action="DetailsImpound" asp-route-id="@item.recordId">Details</a> 
                <a asp-action="DeleteImpound" asp-route-id="@item.recordId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
