@model IEnumerable<CarImpoundSystem.Models.ImpoundmentRecord>

@{
    ViewData["Title"] = "ImpoundRecord";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewCars</title>
</head>
<body>
<p>
    <a asp-action="Impound">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <td>
                    @Html.DisplayNameFor(model => model.LicensePlate)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LicensePlate)
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
           
          
            <td>
              
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
